In [1]:
import pandas as pd
df=pd.read_csv("PROJET.csv")
df.head()

,Horodateur,M,HA-M,PC,HA-PC,SVT,HA-SVT,HA-AR,AR,II,...,EPS,HA-EPS,PHILO,HA-PHILO,INFORMATIQUE,HA-INFORMATIQUE,HA-HG,HG,Ecole /Université Après bac,Score
0,NaN,"19,5",ENTRE 0 ET 1 H,"18,5",ENTRE 0 ET 1 H,"13,75",ENTRE 0 ET 1 H,ENTRE 0 ET 1 H,"18,25","19,25",...,"17,5",+6H,"15,5",ENTRE 2 ET 4 H,"17,75",ENTRE 2 ET 4 H,ENTRE 2 ET 4 H,"15,5",ENSAM,NaN
1,NaN,19,+6H,"19,75",ENTRE 0 ET 1 H,"15,75",+6H,ENTRE 2 ET 4 H,"16,75",16,...,17,ENTRE 0 ET 1 H,"14,75",+6H,"17,75",ENTRE 2 ET 4 H,ENTRE 2 ET 4 H,"15,5",ENSAM,NaN
2,NaN,17,+6H,15,+6H,17,+6H,ENTRE 2 ET 4 H,13,17,...,17,ENTRE 2 ET 4 H,17,ENTRE 2 ET 4 H,17,ENTRE 0 ET 1 H,ENTRE 4 ET 6 H,17,ENSMR,NaN
3,NaN,18,ENTRE 0 ET 1 H,16,ENTRE 2 ET 4 H,14,ENTRE 4 ET 6 H,+6H,18,15,...,18,ENTRE 4 ET 6 H,16,ENTRE 0 ET 1 H,17,ENTRE 0 ET 1 H,ENTRE 4 ET 6 H,17,FST MIP,NaN
4,NaN,18,ENTRE 0 ET 1 H,"19,15",+6H,"18,45",ENTRE 0 ET 1 H,ENTRE 4 ET 6 H,"16,75",16,...,18,ENTRE 2 ET 4 H,10,ENTRE 4 ET 6 H,20,ENTRE 4 ET 6 H,ENTRE 2 ET 4 H,8,FST MIP,NaN

In [2]:
df.isnull()

,Horodateur,M,HA-M,PC,HA-PC,SVT,HA-SVT,HA-AR,AR,II,...,EPS,HA-EPS,PHILO,HA-PHILO,INFORMATIQUE,HA-INFORMATIQUE,HA-HG,HG,Ecole /Université Après bac,Score
0,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
3,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
4,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1488,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1489,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1490,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1491,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True
1492,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,True

In [3]:
df.isnull().sum()

Horodateur                      1318
M                                  0
HA-M                               0
PC                                 0
HA-PC                              4
SVT                                0
HA-SVT                             0
HA-AR                              0
AR                                 0
II                                 0
HA-II                              3
FR                                 0
HA-FR                              0
ANG                                0
HA-ANG                            12
EPS                                0
HA-EPS                             3
PHILO                              0
HA-PHILO                           0
INFORMATIQUE                      29
HA-INFORMATIQUE                    0
HA-HG                              0
HG                                 0
Ecole /Université Après bac        0
Score                           1493
dtype: int64

In [4]:
df.drop('Horodateur',axis=1,inplace=True)

In [5]:
df.drop('Score',axis=1,inplace=True)

In [6]:
df['HA-EPS'].fillna('ENTRE 2 ET 4 H',inplace=True)

In [7]:
df['HA-ANG'].fillna('ENTRE 1 ET 2 H',inplace=True)

In [8]:
df['HA-II'].fillna('ENTRE 1 ET 2 H',inplace=True)

In [9]:
df['HA-PC'].fillna('ENTRE 1 ET 2 H',inplace=True)

In [11]:
import math
df['INFORMATIQUE '] = df['INFORMATIQUE '].replace(math.nan,"20",inplace=False)
df['INFORMATIQUE '] = df['INFORMATIQUE '].apply(lambda x:x.replace(",","."))
df['INFORMATIQUE '] = df['INFORMATIQUE '].astype(float)

In [12]:
df.isnull().sum()

M                               0
HA-M                            0
PC                              0
HA-PC                           0
SVT                             0
HA-SVT                          0
HA-AR                           0
AR                              0
II                              0
HA-II                           0
FR                              0
HA-FR                           0
ANG                             0
HA-ANG                          0
EPS                             0
HA-EPS                          0
PHILO                           0
HA-PHILO                        0
INFORMATIQUE                    0
HA-INFORMATIQUE                 0
HA-HG                           0
HG                              0
Ecole /Université Après bac     0
dtype: int64

In [13]:
df['M'] = df['M'].apply(lambda x:x.replace(",","."))
df['M'] = df['M'].astype(float)

In [14]:
df['PC'] = df['PC'].apply(lambda x:x.replace(",","."))
df['PC'] = df['PC'].astype(float)

In [16]:
df['SVT '] = df['SVT '].apply(lambda x:x.replace(",","."))
df['SVT '] = df['SVT '].astype(float)

In [17]:
df['AR'] = df['AR'].apply(lambda x:x.replace(",","."))
df['AR'] = df['AR'].astype(float)

In [18]:
df['ANG'] = df['ANG'].apply(lambda x:x.replace(",","."))
df['ANG'] = df['ANG'].astype(float)

In [19]:
df['FR'] = df['FR'].apply(lambda x:x.replace(",","."))
df['FR'] = df['FR'].astype(float)

In [20]:
df['HG'] = df['HG'].apply(lambda x:x.replace(",","."))
df['HG'] = df['HG'].astype(float)

In [21]:
df['II'] = df['II'].apply(lambda x:x.replace(",","."))
df['II'] = df['II'].astype(float)

In [22]:
df['EPS'] = df['EPS'].apply(lambda x:x.replace(",","."))
df['EPS'] = df['EPS'].astype(float)

In [23]:
df['PHILO'] = df['PHILO'].apply(lambda x:x.replace(",","."))
df['PHILO'] = df['PHILO'].astype(float)

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1493 entries, 0 to 1492
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   M                             1493 non-null   float64
 1   HA-M                          1493 non-null   object
 2   PC                            1493 non-null   float64
 3   HA-PC                         1493 non-null   object
 4   SVT                           1493 non-null   float64
 5   HA-SVT                        1493 non-null   object
 6   HA-AR                         1493 non-null   object
 7   AR                            1493 non-null   float64
 8   II                            1493 non-null   float64
 9   HA-II                         1493 non-null   object
 10  FR                            1493 non-null   float64
 11  HA-FR                         1493 non-null   object
 12  ANG                           1493 non-null   float64
 13  HA-ANG                        1493 non-null   object
 14  EPS                           1493 non-null   float64
 15  HA-EPS                        1493 non-null   object
 16  PHILO                         1493 non-null   float64
 17  HA-PHILO                      1493 non-null   object
 18  INFORMATIQUE                  1493 non-null   float64
 19  HA-INFORMATIQUE               1493 non-null   object
 20  HA-HG                         1493 non-null   object
 21  HG                            1493 non-null   float64
 22  Ecole /Université Après bac   1493 non-null   object
dtypes: float64(11), object(12)
memory usage: 268.4+ KB

In [28]:
df.replace(to_replace=r'ENTRE 0 ET 1 H', value='0.5', regex=True,inplace=True)

In [29]:
df.replace(to_replace=r'ENTRE 1 ET 2 H', value='1.5', regex=True,inplace=True)

In [30]:
df.replace(to_replace=r'ENTRE 2 ET 4 H', value='3', regex=True,inplace=True)

In [31]:
df.replace(to_replace=r'ENTRE 4 ET 6 H', value='5', regex=True,inplace=True)

In [32]:
df.replace(to_replace=r'+6H', value='8',inplace=True)

In [33]:
df['HA-M'] = df['HA-M'].astype(float)

In [34]:
df['HA-PC'] = df['HA-PC'].astype(float)

In [35]:
df['HA-SVT'] = df['HA-SVT'].astype(float)

In [36]:
df['HA-II'] = df['HA-II'].astype(float)

In [37]:
df['HA-HG'] = df['HA-HG'].astype(float)

In [38]:
df['HA-AR'] = df['HA-AR'].astype(float)

In [39]:
df['HA-ANG'] = df['HA-ANG'].astype(float)

In [40]:
df['HA-FR'] = df['HA-FR'].astype(float)

In [41]:
df['HA-EPS'] = df['HA-EPS'].astype(float)

In [42]:
df['HA-PHILO'] = df['HA-PHILO'].astype(float)

In [44]:
df['HA-INFORMATIQUE '] = df['HA-INFORMATIQUE '].astype(float)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1493 entries, 0 to 1492
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   M                             1493 non-null   float64
 1   HA-M                          1493 non-null   float64
 2   PC                            1493 non-null   float64
 3   HA-PC                         1493 non-null   float64
 4   SVT                           1493 non-null   float64
 5   HA-SVT                        1493 non-null   float64
 6   HA-AR                         1493 non-null   float64
 7   AR                            1493 non-null   float64
 8   II                            1493 non-null   float64
 9   HA-II                         1493 non-null   float64
 10  FR                            1493 non-null   float64
 11  HA-FR                         1493 non-null   float64
 12  ANG                           1493 non-null   float64
 13  HA-ANG                        1493 non-null   float64
 14  EPS                           1493 non-null   float64
 15  HA-EPS                        1493 non-null   float64
 16  PHILO                         1493 non-null   float64
 17  HA-PHILO                      1493 non-null   float64
 18  INFORMATIQUE                  1493 non-null   float64
 19  HA-INFORMATIQUE               1493 non-null   float64
 20  HA-HG                         1493 non-null   float64
 21  HG                            1493 non-null   float64
 22  Ecole /Université Après bac   1493 non-null   object
dtypes: float64(22), object(1)
memory usage: 268.4+ KB

In [46]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
lbl_encode = LabelEncoder()

In [47]:
lbl_encode.fit_transform(df['Ecole /Université Après bac '])

array([ 6,  6, 10, ...,  6,  5,  6])

In [48]:
df['Ecole /Université Après bac label']=lbl_encode.fit_transform(df['Ecole /Université Après bac '])

In [49]:
df['Ecole /Université Après bac label'].value_counts()

16    186
18    182
4     159
22    127
6      96
14     82
8      79
24     78
15     65
13     59
3      46
7      43
17     42
12     42
5      38
25     31
9      27
11     22
0      21
21     18
20     11
23     11
1      10
10      7
2       7
19      4
Name: Ecole /Université Après bac label, dtype: int64

In [50]:
df['Ecole /Université Après bac '].value_counts()

Faculté lettre                                              186
Faculté science                                             182
ENS                                                         159
ISMEM                                                       127
ENSAM                                                        96
FST MIP                                                      82
ENSET                                                        79
ISSS                                                         78
Faculté des Sciences Juridiques, Economiques et Sociales     65
FST BCG                                                      59
ENCG                                                         46
ENSEM                                                        43
EST                                                          42
Faculté medecine pharmacie                                   42
ENSA                                                         38
Université Al Akhawayn                                       31
ENSIAS                                                       27
ESITH                                                        22
EHTP                                                         21
ISITT                                                        18
ISPIT                                                        11
INPT                                                         11
EMI                                                          10
ENA                                                           7
ENSMR                                                         7
IAV                                                           4
Name: Ecole /Université Après bac , dtype: int64